---
---
// base
@import 'colors';
@import 'reset';
@import 'nav';



/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/3isE9muMMOq1K7TQ7HkKvIDGDUGfDkXyfkzVDelzfFk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 400;
    src: local('Dosis Regular'), local('Dosis-Regular'), url(https://fonts.gstatic.com/s/dosis/v6/oaBFj7Fz9Y9_eW3k9Jd9X6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v6/NI3uVO_o2Ursx6Z1Lyy3oRkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 500;
    src: local('Dosis Medium'), local('Dosis-Medium'), url(https://fonts.gstatic.com/s/dosis/v6/mAcLJWdPWDNiDJwJvcWKc3YhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v6/yeSIYeveYSpVN04ZbWTWghkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Dosis';
    font-style: normal;
    font-weight: 600;
    src: local('Dosis SemiBold'), local('Dosis-SemiBold'), url(https://fonts.gstatic.com/s/dosis/v6/O6SOu9hYsPHTU43R17NS5XYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


@import url("https://fonts.googleapis.com/css?family=Dosis:400,500,600");


._center {
    margin-left: auto;
    margin-right: auto; }

._text-center {
    text-align: center; }

._text-right {
    text-align: right; }

html {
    box-sizing: border-box; }

*, *::before, *::after {
                  box-sizing: inherit; }

* {
    padding: 0;
    margin: 0; }

img, svg {
    max-width: 100%; }

@media (min-width: 800px) {
    .row {
        display: flex;
        flex-wrap: nowrap; }
    .row > .col {
        flex: 1; }
    .row > .col.-flex-2 {
        flex: 2; }
    .row .col + .col {
        margin-top: 0;
        margin-left: 2em; }
    .row.-no-gutter .col + .col {
        margin-left: 0; } }
.col + .col {
    margin-top: 2em; }

.table {
    display: table;
    width: 100%; }
.table.-fixed {
    table-layout: fixed; }

.table-col {
    display: table-cell;
    vertical-align: middle; }

@-ms-viewport {
    width: device-width; }
body {
    -ms-overflow-style: scrollbar; }

html, body {
    min-width: 320px; }

body {
    color: $primary-color;
    background-color: $primary-bg-color;
    background-repeat: no-repeat;
    background-position: center 150px;
    background-size: cover;
    background-attachment: fixed; }

html {
    font-size: 62.5%; }

body {
    font: 1.8rem/1.6 "Dosis", sans-serif;
    font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
    font-weight: 500; }

h1 {
    font-size: 2.2rem;
    color: $primary-color;
}

h2 {
    font-size: 2.4rem; }

h3 {
    font-size: 1.8rem; }

h4 {
    font-size: 1.6rem; }

h6 {
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 0.15em; }

strong {
    font-weight: bold;
}

a {
    color: $primary-color;
    border-bottom: 2px solid $primary-color;
    transition: color .2s ease-in-out;
}

a:hover {
    color: $secondary-color;
    border-bottom: 2px solid  $secondary-color;
}

ul, ol {
    margin-left: 2em;
}

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + *,
p + p,
li ~ li {
    margin-top: 1em; }

a {
    text-decoration: none; }

.button i, button i,
h1 i, h2 i, h3 i, h4 i, h5 i, h6 i {
    margin-right: .5em; }

.container {
    max-width: 540px;
    width: 90%; }
.container.-small {
    max-width: 360px; }
.container.-large {
    max-width: 1280px; }

section + section {
    margin-top: 4em; }

.main-row {
    margin-top: 30px;
    margin-bottom: 30px; }
.main-row .sidebar {
    font-size: 1.7rem; }
@media (min-width: 1280px) {
    .main-row .sidebar {
        position: fixed;
        width: 380px; } }

.section-header {
    text-align: center;
    margin-bottom: 1.5em;


}

.post-intro {
    color: $primary-color;
}


.section-header > p {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.2rem; }
.section-header h2 {
    display: inline-block;
    font-size: 3em;
    position: relative;


}
.section-header h2:after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -.05em;
    width: 100%;
    content: "";
    background: $secondary-color;
    height: 3px;
    border-radius: 25px; }

.services-section .container + .container {
    margin-top: 100px; }
.services-section .row {
    display: block; }
.services-section .col + .col {
    margin-left: 0;
    margin-top: 2em; }
.services-section .row + .row {
    margin-top: 2em; }
.services-section .row + .table {
    margin-top: 2em; }
@media (min-width: 1100px) {
    .services-section .row {
        display: flex; }
    .services-section .col + .col {
        margin-left: 1em;
        margin-top: 0; } }

.contact-section {
    padding: 3em 0;
    border-top: 1px solid #c7d9f2;
    border-bottom: 1px solid #c7d9f2;
}
.card {
    /* border-radius: 5px; */
    padding: 2em;
    /* box-shadow: 0px 5px 10px rgba(122, 133, 166, 0.1); */
    /* border: 1px solid #c7d9f2*/
    font-size: 1.5rem;
    position: relative; }
.card > .card-header {
    margin-bottom: 2em;
    color: $secondary-color; 
    text-align: center; }
.card > .card-header img.avatar {
    width: 128px;
    height: 128px;
    border-radius: 50%;

    border: 0px solid $primary-color;
}
.card > .card-header i.avatar {
    font-size: 128px;
    line-height: 1; }
.card > .card-header p {
    margin-top: 0;
    font-style: italic;
    color: $primary-color;
}

.card table {
    border-collapse: collapse;
    width: 100%;
}

.card-item {
    display: inline-block;
    margin-top: .25em;
    border: 1px solid #CFD4E6;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 1.5rem;
    background-color: #fff; }

a.card-item {
    color: #7a85a6;
    transition: color .2s ease-in-out, border-color .2s ease-in-out; }
a.card-item:hover {
    color: #78C6FD;
    border-color: #78C6FD; }

button,
.button {
    display: inline-block;
    background: #78C6FD;
    background: linear-gradient(to right, #78C6FD, #2da6fc);
    border-radius: 25px;
    padding: .5em 1em;
    font-size: 1.6rem;
    color: #fff; }
button:hover,
.button:hover {
    background: linear-gradient(to right, #78C6FD, #78C6FD);
    color: #fff; }
button:active,
.button:active {
    background: #2da6fc; }

.col-cut {
    max-width: 768px;
}

.card-body {
    font-size: 1.9rem;

    h1,h2 {
        color: $secondary-color;
    }

    p {

        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

                em {
            font-style: italic;
            font-weight: 500;
        }

    }
}

.image {
    margin-top: 1.5em;
    font-size: 85%;

    .image-enum {
        font-weight: 500;
    }

    .image-description {
        font-style: italic;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}




.card-footer {
    margin-top: 25px;
}

.index-post {
    width: 100%;
    text-align: center;
}

.index-post-item {
    display: inline-block;

    a:hover {
        color: $secondary-color;
        border-bottom: 2px solid $secondary-color;
    }

    h2 {
        color: $primary-color;
    }

    h2:hover{
        color: $secondary-color;
    }
}

.cotent-container {
    width: 100%;
}

code, tt {
    font-family: $code-font-stack;
    font-size: 15px;
}

.highlighter-rouge {
    margin: 1.5em 4px 1.5em 2px;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-size: 80%;
    background-color: rgba(24,27,31,0.1);
    border-radius: 3px;
}

.card-body ul {
    list-style: initial;
    margin: 1em 1em;
}

.card-body ol {
    list-style: numeric;
    margin: 1em 1em;
}

.card-body h1 {
    font-size: 2.5rem;
    margin: 1.5em 0 0 0;
}

.card-body h2 {
    font-size: 2.0rem;
    margin: 1.5em 0 0 0;
}

.index-posts {
    list-style: none;
}

.index-post-item {
    color: $primary-color;
}

a.footer-item {
    font-size: 3rem;
    margin: 0 0.75em;
    color: $primary-color;
}

a.footer-item:hover {
    color: $primary-color;
}

.left-container img.avatar {
    width: 96px;
    height: 96px;
    border-radius: 50%;

    border: 3px solid $tertiary-color;
}

#overall-title {
    margin-top: 1em;
    margin-left: 1em;
    position: absolute;
    float: left;
    text-align: center;
    top: 0;
    left: 0;
}
