.main-container{
    display: flex;
    flex-direction: row;
    flex: 1 100%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    margin: 0px 10px 0px 0px;
    border-right: 1px solid #a4a4a4;
}

.nav-item {
    padding: 0 15px 0px 15px;
    color: #0b2222;
    fontsize: 1em;
    text-align: center;
}

.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.post-date{
    color: #666666
}

.post-content{
    margin: 0 19.1% 0 19.1%;
}

@media all and (max-width: 800px) {
    .main-container{
	display: flex;
	flex-direction: column;
	flex: 1 100%;
    }
    .navbar {
	display: flex;
	flex-direction: row;
	border-right: 1px solid #a4a4a4;
    }
    .post-content{
	margin: 0;
    }
}