@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}

@font-face {
    font-family: Lato;
    src: url(Lato-Regular.ttf);
}
{
    font-family: RobotoMedium;
    src: url(Roboto-Medium.ttf);
}
body{
    margin: 0;
    font-family: 'Roboto Medium', sans-serif;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 19.1% 0 19.1%;
}

/* NAV */
.navbar {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid #a4a4a4;
    justify-content: space-between;
    margin: 0 19.1% 0 19.1%;
}

.nav-item {
    padding: 5px 15px 5px 15px;
    margin: 0;
    text-decoration: none;
    color: #0b2222;
    fontsize: 1em;
    text-align: center;
}

.home-item{
    font-weight : bold;
    color:#38A861;
}

.nav-item:hover{
    color: white;
    background:#38A861;
}
/* #2aa198 #AC2475 #2E688A   #38A861 #B43C50; */


/* POST */
.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.post-date{
    color: #666666
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}


/* MAIN PAGE */
.site-post{
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}
.site-post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.site-post-title{
    margin: 0;
}

.site-post-title a:link{
    text-decoration: none;
    color: #0b2222;
}

.site-post-title a:hover {
    text-decoration: underline;
    color: #38A861;
}

.site-post-title a:visited {
    color: #a4a4a4;
}

.sub-header{
    color: #666666
}


/* SMALL SCREENS */

@media screen and (max-width: 800px) {
    .main-container{
	display: flex;
	flex-direction: column;
	flex: 1 100%;
    }
    
    .content-container {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 100%;
    }
    .home-item{
	font-weight: normal;
    }
    .navbar {
	margin: 0;
	width: 100%;
    }


    .post-content{
	margin: 0;
    }
}