@font-face {
    font-family: TitilliumWeb;
    src: url(TitilliumWeb-Regular.ttf);
}

body{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex: 1 100%;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 19.1% 0 19.1%;
}

.navbar {
    display: flex;
    flex-direction: row;
    padding: 0;
    border-bottom: 1px solid #a4a4a4;
    justify-content: space-between;
    margin: 0 19.1% 0 19.1%;
}

.nav-item {
    padding: 5px 15px 5px 15px;
    margin: 0;
    text-decoration: none;
    color: #0b2222;
    fontsize: 1em;
    text-align: center;
}

.nav-item:hover{
    color: #B43C50;
	       
}
/* #2aa198 #AC2475*/

.post-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.post-date{
    color: #666666
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}

.site-post{
    display: flex;
    flex-direction: column;
    padding: 15px 0 15px 0;
}
.site-post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

.site-post-title{
    margin: 0;
}

.sub-header{
    color: #666666
}



@media screen and (max-width: 800px) {
    .main-container{
	display: flex;
	flex-direction: column;
	flex: 1 100%;
    }
    
    .content-container {
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0;
	width: 100%;
    }
    .navbar {
	margin: 0;
	width: 100%;
}


    .post-content{
	margin: 0;
    }
}