  <div class="col _center col-cut">
    <div class="card">
      <div class="card-header">
        {% if page.picture %}
          <img class="avatar" src="kkuehne_2_square.jpg" width="128" height="128">
        {% endif %}
        <header class="section-header">
          <h2>{{page.subtitle}}</h2>
        </header>
        <p>
          {% if page.introduction %} {{ page.introduction }}
          {% else %} {{ }}
          {% endif %}
        </p>
      </div>
      <div class="card-body">
        {{content}}
      </div>
  </div>
