<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <meta name="viewport" content="user-scalntent="index, follow">
  {% feed_meta %}
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" type="text/css" href="/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/highlight/github.css">
</head>
<body>
  <div class="nav-container">
    <div class="nav">
      <a class="{% if page.url == '/' %} active {% endif %}"  href="/">konrad kühne</a>
      <a class="{% if page.url == '/notes.html' %} active {% endif %}"  href="/notes">notes</a>
      <a class="{% if page.url == '/talks.html' %} active {% endif %}"  href="/talks">talks</a>
      <a class="{% if page.url == '/about.html' %} active {% endif %}"  href="/about">about</a>
      <a class="{% if page.url == '/imprint.html' %} active {% endif %}"  href="/imprint">imprint</a>
    </div>
  </div>
  <div class="content-container">
    <div class="container -large _center main-row row">
