<div class="row card-footer">
  <div class="_center">
    <a class="footer-item" target="_blank" href="https://github.com/kordano"><i class="ion-social-github"></i></a>
    <a class="footer-item" target="_blank" href="https://twitter.com/konradkuehne"><i class="ion-social-twitter"></i></a>
    <a class="footer-item" target="_blank" href="https://www.linkedin.com/in/konrad-kühne-375683106"><i class="ion-social-linkedin"></i></a>
    <a class="footer-item" target="_blank" href="/feed.xml"><i class="ion-social-rss"></i></a>
    <a class="footer-item" href="mailto:konrad.kuehne@protonmail.com"><i class="ion-paper-airplane"></i></a>


  </div>
</div>
</div>
</div>
</div>
  <script src={{page.script}}></script>
  <script src="/js/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
