$font-stack: Dosis, sans-serif;
$code-font-stack: Courier, 'New Courier', monospace;
/*
$primary-color: #e6ebe0;
$secondary-color: #f4f1bb;
$tertianary-color: #c7d9f2;
$primary-bg-color: #e94c3d;
*/


$primary-color: #101010;
$secondary-color: #e94c3d;
$tertiary-color: #999999;
//$primary-bg-color: #dedede;
// $primary-bg-color: #e9e9e9;
$primary-bg-color: #fafafa;

